<div class="container">
	<div id="about-content">
		<h1>About</h1>

		<p>
			Welcome to our Next Date app, where you will find a myriad of incredible ideas to
			spice up your relationship and strengthen the connection between you and your loved
			one.
		</p>
		<p>
			We offer a wide range of activities, from romantic candlelit dinners to
			adrenaline-fueled adventures for the more daring couples. Our goal is to provide
			unforgettable and surprising moments for you and your partner, making every moment
			spent together even more special.
		</p>
		<p>
			Whether you've been together for a short time or many years, our app has options for
			every taste and style. You can choose from outdoor activities, cultural outings,
			gastronomic experiences, and more. All designed to make your relationship even more
			solid and full of love.
		</p>
		<p>
			So, download our Next Date app now and start exploring all the possibilities we have
			for you. Surprise your partner with unique and unforgettable moments and turn your
			relationship into a true love story!
		</p>

		<div class="social-media">
			<a href="https://instagram.com/nextdateapp" target="_blank">
				<img
					alt="x-instagram"
					height="30"
					width="32"
					src="assets/icons/square-instagram.svg"
				/>
			</a>
			<a
				href="https://www.facebook.com/people/Next-Date/100090050702968/"
				target="_blank"
			>
				<img
					alt="x-facebook"
					height="30"
					width="32"
					src="assets/icons/square-facebook.svg"
				/>
			</a>
			<a href="https://github.com/lucasluizss/next-date" target="_blank">
				<img
					alt="x-facebgithub"
					height="30"
					width="32"
					src="assets/icons/square-github.svg"
				/>
			</a>
		</div>
	</div>
</div>
