/* Add your CSS styles here */
body {
	background: linear-gradient(to bottom, #3498db 0%, #8e44ad 100%);
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

header {
	position: fixed;
}

@media only screen and (max-width: 720px) {
	header {
		position: absolute;
	}
}
