/* Add your CSS styles here */
.timer-container {
	background: linear-gradient(to bottom right, #3498db, #8e44ad);
	color: #fff;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 50px;
}

.container {
	margin-top: 15%;
}

.button {
	margin-bottom: 15%;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
